header, aside, nav li, footer{
    border: thin solid black;
}
li{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
body{
    background-color: #fcecdc;
    color: black;
}
nav ul, nav li, aside, footer{
    background-color: aliceblue;
}
#nouvelles{
    font-size: small;
}
#contacts li{
    background-color: #e8eaf6;
}
a:hover{
    text-decoration: underline;
    color: blue;
}
