/* flex containers */
main, nav>ul, #personnages section{
    display: flex;
    flex-wrap: wrap;
}

/* body */
body{
    text-align: center;
}

/* #accueil */
#accueil{
    flex-basis: 75%;
    flex-grow: 1;
    margin: 0em 1em 1em 1em;
    padding: 1em;
}
h2, #accueil p, #accueil li{
    text-align: left;
}
#accueil ul{
    margin-left: 2em;
}
#accueil li{
    list-style-type: disc;
}

/* aside */
aside{
    margin-bottom: 1em;
    padding: 0em 0.5em;
    width: 10vw;
    text-align: left;
}
#reseaux_sociaux li{
    padding-left: 0.5em;
}
aside li{
    padding: 0.2em;
}
#contacts li{
    background-color: #e8eaf6;
    margin: 0.5em 0em;
    overflow-x: auto;
}
#contacts p{
    margin: 0em;
}

/* nav */
nav{
    flex-basis: 100%;
}
nav li{
    flex-basis: 10%;
    flex-grow: 1;
}

/* header */
header{
    height: 15vh;
}
header img{
    width: 100%;
    height: 100%;
}

/* footer */
footer{
    padding: 0em;
    margin-top: 1em;
    height: 2vh;
}

/* général/autres */
ul{
    padding: 0em;
}
h1{
    margin-top: 0em;
    text-decoration: underline;
}
