/* flex containers */
main, nav>ul, #personnages section{
    display: flex;
    flex-wrap: wrap;
}

body{
    text-align: center;
}

/* #personnages */
#personnages{
    flex-basis: 60%;
    flex-grow: 1;
}
#personnages div{
    flex-basis: 75%;
    flex-grow: 1;
}
#personnages img{
    flex-basis: 20%;
    align-self: center;
}
#personnages div *{
    margin: 0em;
}
#personnages section{
    margin: 2em;
}
#personnages section img{
    width: 10%;
    height: fit-content;
}

/* aside */
aside{
    margin-bottom: 1em;
    padding: 0em 0.5em;
    width: 10vw;
    text-align: left;
}
#reseaux_sociaux li{
    padding-left: 0.5em;
}
aside li{
    padding: 0.2em;
}
#contacts li{
    background-color: #e8eaf6;
    margin: 0.5em 0em;
    overflow-x: auto;
}
#contacts p{
    margin: 0em;
}

/* nav */
nav{
    flex-basis: 100%;
}
nav li{
    flex-basis: 10%;
    flex-grow: 1;
}

/* header */
header{
    height: 15vh;
}
header img{
    width: 100%;
    height: 100%;
}

/* footer */
footer{
    padding: 0em;
    margin-top: 1em;
    height: 2vh;
}

/* général */
ul{
    padding: 0em;
}
