header, aside, nav li, footer{
    border: thin solid black;
}
li{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
body{
    background-color: #fcecdc;
    color: black;
}
#saisons section,nav ul, aside, footer{
    background-color: aliceblue;
}
#actuelle{
    background-color: rgb(213, 213, 213);
}
#nouvelles{
    font-size: small;
}
a:hover{
    text-decoration: underline;
    color: blue;
}